{% extends "base.html" %}

{% block title%} لیست گروه و کنال های عضو {% endblock %}

{% block body %}

      <div class="card mt-5">
              <div class="card-header">
                <h5 class="card-title float-right">لیست گروه ها، کانال ها</h5>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <table class="table">
                  <tbody><tr>
                    <th style="width: 10px">#</th>
                    <th colspan="2" >عنوان</th>
                    <th>نام کاربری</th>
                    <th>نوع</th>
                    <th>تعداد اعضا</th>
                    <th>توضیحات</th>
                    <th>عملیات</th>
                  </tr>
                  <tr>
                    <td>۱.</td>
                    <td style="width: 73px" ><img
                      class="chat-image"
                      src="https://cdn4.telesco.pe/file/Mi8KvnN4qoLlpT3jvmRpnDlJrDxQiiza4P5cRVNRY1_BGsag4iP_eOOp9a6Ti9XnkJX7LBCFKEMAcG3KU4GZnVnDC9QsdKHpzje7ftrNXS0E3nYSuxc3jb49djvHTnn4oGE6jT88MZVA7nGTR7xG37t8t6XGcYB9YDW2eSKh71DTZmFhno9NFtOr46Z9tRoDyrHRiY8ND6uLRrXw8DJ3zilTuJZYKdwKFI5nseT3HmNruuVhZ_fTcuG3TSdGXAsKVUA_O8P7y6_Oc5UaMwp2jQlxqcYM0m3vqLux2RcTgjtDZdZIzIqtbF-c9Oa8Ra5nBVso1iaZcdyhTxA6B3c01w.jpg"></td>
                    <td>آپدیت نرم افزار</td>
                    <td>کانال</td>
                    <td>1000ر</td>
                    <td> آپدیت نرم افزا آپدیت نرم افزا آپدیت نرم افزا آپدیت نرم افزاآپدیت نرم افزار</td>
                    <td>
                      لابیاتیلاتبتاال
                    </td>
                    <td>
                      <button type="button" class="btn btn-danger btn-sm">حذف</button>
                    </td>
                  </tr>
                </tbody></table>
              </div>
              <!-- /.card-body -->
            </div>



{% endblock %}
